* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* --- LOADING ANIMATION (from image) --- */
.loading-container {
    display: none;
    /* Hidden by default, controlled by JS */
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #6131f3;
    /* Purple color from your image */
    border-radius: 50%;
    animation: wave 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.2s;
}

.dot:nth-child(4) {
    animation-delay: 0.3s;
}

.dot:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes wave {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }
}

/* --- EXISTING STYLES --- */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes cardEntry {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    margin-top: 25px;
    margin-left: 360px;
    position: relative;
    animation: cardEntry 0.8s ease-out forwards;
}

.search {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #8fb3c9, #6f8fa3, #4e6777);
}

.searchbar {
    margin: 50px 0 0 50px;
    width: 390px;
    height: 36px;
    border-radius: 50px;
    border: none;
    padding: 0 45px 0 15px;
    background-color: #6FA3B8;
    color: #fff;
    outline: none;
    font-size: 14px;
}


.searchbtn {
    position: absolute;
    top: 50px;
    left: 410px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #6FA3B8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Rest of your existing CSS remains the same... */
.weatherinfo {
    display: none;
}

.default-img {
    width: 400px;
    position: absolute;
    top: 170px;
    left: 620px;
    transform: translateX(-50%);
    display: block;
    animation: fadeInUp 1s ease-out forwards;
}

.error-img {
    width: 400px;
    position: absolute;
    top: 170px;
    left: 620px;
    transform: translateX(-50%);
    display: none;
}

.place,
.date,
.temp,
.weather,
.humidity,
.humiditypercentage,
.windspeed,
.speed,
.pressure,
.pascal,
.UV,
.uvindex {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}

.material-symbols-outlined {
    color: white;
    display: inline-block;
}

.location .material-symbols-outlined {
    font-size: 25px;
    position: absolute;
    top: 175px;
    left: 410px;
}

.place {
    left: 440px;
    top: 172px;
}

.date {
    left: 705px;
    top: 180px;
}

.weathersymbol {
    position: absolute;
    left: 415px;
    top: 220px;
    width: 150px;
    height: 150px;
}

.temp {
    left: 700px;
    top: 250px;
    font-size: 40px;
}

.weather {
    left: 720px;
    top: 310px;
    font-size: 23px;
}

.humidity-container .material-symbols-outlined {
    position: absolute;
    left: 400px;
    top: 403px;
    font-size: 50px;
}

.humidity {
    left: 455px;
    top: 400px;
    font-size: 23px;
}

.humiditypercentage {
    left: 455px;
    top: 430px;
    font-size: 17px;
}

.speed-container .material-symbols-outlined {
    position: absolute;
    left: 650px;
    top: 400px;
    font-size: 50px;
}

.windspeed {
    left: 705px;
    top: 400px;
    font-size: 23px;
}

.speed {
    left: 705px;
    top: 430px;
    font-size: 17px;
}

.pressure-container .material-symbols-outlined {
    position: absolute;
    left: 400px;
    top: 500px;
    font-size: 50px;
}

.pressure {
    left: 455px;
    top: 500px;
    font-size: 23px;
}

.pascal {
    left: 455px;
    top: 530px;
    font-size: 17px;
}

.uv-container .material-symbols-outlined {
    position: absolute;
    left: 650px;
    top: 500px;
    font-size: 50px;
}

.UV {
    left: 705px;
    top: 500px;
    font-size: 23px;
}

.uvindex {
    left: 705px;
    top: 530px;
    font-size: 17px;
}

/* --- MOBILE VIEW (Applied for common mobiles) --- */
@media (max-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 20px;
        height:667px;
    }

    .card {
        margin-left: 0;
        /* Resets desktop offset */
        width: 90%;
        max-width: 450px;
    }

    .search {
        width: 100%;
        height: 600px;
    }

    /* Button beside search bar for mobile */
    .searchbar {
        margin: 40px 0 0 5%;
        width: 88%;
    }

    .searchbtn {
        left: 82%;
        top: 40px;
    }

    /* Move default image inside card area for mobile */
    .default-img,
    .error-img {
        left: 50%;
        top: 250px;
        /* Positions illustration inside the card area */
        width: 280px;
    }

    /* Move weather info inside the card on mobile */
    .location .material-symbols-outlined {
        left: 50px;
        top: 180px;
    }

    .place {
        left: 85px;
        top: 177px;
        font-size: 22px;
    }

    .date {
        left: auto;
        right: 40px;
        top: 185px;
        font-size: 14px;
    }

    .weathersymbol {
        left: 70px;
        top: 235px;
        width: 110px;
        height: 110px;
    }

    .temp {
        left: auto;
        right: 45px;
        top: 245px;
        font-size: 35px;
    }

    .weather {
        left: auto;
        right: 45px;
        top: 295px;
        font-size: 18px;
    }

    /* Detail Grid (Mobile) */
    .humidity-container .material-symbols-outlined {
        left: 40px;
        top: 395px;
        font-size: 40px;
    }

    .humidity {
        left: 90px;
        top: 395px;
        font-size: 18px;
    }

    .humiditypercentage {
        left: 90px;
        top: 420px;
        font-size: 15px;
    }

    .speed-container .material-symbols-outlined {
        left: auto;
        right: 140px;
        top: 395px;
        font-size: 40px;
    }

    .windspeed {
        left: auto;
        right: 35px;
        top: 395px;
        font-size: 18px;
    }

    .speed {
        left: auto;
        right: 60px;
        top: 420px;
        font-size: 15px;
    }

    .pressure-container .material-symbols-outlined {
        left: 40px;
        top: 475px;
        font-size: 40px;
    }

    .pressure {
        left: 90px;
        top: 475px;
        font-size: 18px;
    }

    .pascal {
        left: 90px;
        top: 500px;
        font-size: 15px;
    }

    .uv-container .material-symbols-outlined {
        left: auto;
        right: 140px;
        top: 475px;
        font-size: 40px;
    }

    .UV {
        left: auto;
        right: 50px;
        top: 475px;
        font-size: 18px;
    }

    .uvindex {
        left: auto;
        right: 90px;
        top: 500px;
        font-size: 15px;
    }
}

/* --- ANIMATIONS --- */
@keyframes cardEntry {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}